 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>YW is a freelance artist who has a wide range of interests and creations.</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently, I make portraits, needlefelt crafts, and digital graphics. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Read more
                    </a>
                </div>
            </div>
        </div>
    </section>
